.catalogHeader {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 10px;
}

.search {
    background-color: rgb(68, 68, 68);
    color: whitesmoke;
    border-color: whitesmoke;
    /* border: none; */
    border-top: 0px;
    border-right: 0px;
    width: 50%;
    font-size: 1.3em;
    padding-left: 20px
}
.thumbnail {
    height: 60px;
    width: 60px;
    /* padding-left: 30% */
}

.movies {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    /* padding-top: 50px */
}
.rentedMovies {
    display: flex;
    justify-content: left;
    flex-wrap: wrap
}
.movie {
    padding: 20px;
    position: relative;
}
.rentButton {
    position: absolute;
    z-index: 1000;
    font-size: 2.0em;
    /* background-color: rgba(39, 39, 39, 0.689); */
    /* height: 40px; */
    /* width: 40px; */
    border-radius: 50%;
    right: 30px;
    top: 30px;
    font-weight: 200

}
.movieImg {
    height: 400px;
    width: 320px;
    border-radius: 4%;
    box-shadow: 10px 5px rgba(39, 39, 39, 0.644)
}
.catalogIntro {
    text-align: left;
    padding-left: 20px;
    font-weight: 100;
    font-size: 1.3em;
    width: 50%;

}
.movieDetails{
    padding: 50px
}
.movieDetails img{
    height: 500px;
    width: 440px;
}
.description {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px
}
.rentButton{
    cursor: pointer;
}
.search-false{
    display: none
}